body{
    background-color: aqua;
}
.sectionStyle{
    background-color: darkolivegreen;
    border: 5px solid gold;
    width: 30%;
    padding: 5px
    
}
.styleTwo{
    background-color: darkolivegreen;
    float: right;
    border: 5px solid gold;
    width: 30%;
    padding: 5px
}
.styleThree{
    background-color: darkolivegreen;
    margin: 5%;
    border: 5px solid gold;
    width: 30%;
    padding: 5px
}
.styleFour{
    background-color: darkolivegreen;
    float: right;
    border: 5px solid gold;
    width: 30%;
    padding: 5px
}